:root {
  --animate-duration: 2s;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body,
html {
  line-height: 1.6;
}

/* start header */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
}
.container {
  max-width: 1199px;
  margin: auto;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__container nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__container li {
  list-style-type: none;
  padding: 55px 15px;
}
.header__container a {
  text-decoration: none;
  color: black;
}
.header__container span {
  font-size: 15px;
  font-weight: 500;
  display: inline-block;
  transition: all 0.5s;
}
.header__container li:hover span {
  animation: croll__header 0.3s;
}
.header__container li:hover a {
  color: #f55f8d;
}
@keyframes croll__header {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}

/* button */
.header__container button {
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  padding: 20px 35px;
  border: 1px solid transparent;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  background-size: 200%;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.5s;
  margin-left: 30px;
}
.header__container button:hover {
  background-position: right center;
}
/* end header */

/* start carousel */
.carousel {
  background: url(../img/pic2.png);
  background-size: 100%;
  background-position: top;
  padding: 180px 0px;
}
.carousel__container {
  display: flex;
  align-items: center;
}
.carousel__left {
  width: 60%;
  flex-shrink: 0;
}
.carousel__right {
  flex-grow: 1;
}
.carousel__img {
  width: 570px;
  margin-left: 50px;
}
.carousel__img img {
  display: block;
  width: 100%;
}
.carousel__title p {
  color: #f55f8d;
  font-size: 22px;
  font-weight: 600;
}
.carousel__title h2 {
  font-size: 70px;
  font-weight: 800;
  color: #262626;
  line-height: 1.1;
}
.carousel__article p {
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 18px;
  color: rgb(98, 98, 98);
}
.carousel__article li {
  font-size: 20px;
  padding: 10px 5px 10px 0px;
  list-style: none;
  color: rgb(98, 98, 98);
}
.carousel__article li i {
  width: 35px;
  height: 35px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  text-align: center;
  line-height: 35px;
  color: #fff;
  border-radius: 50%;
  margin-right: 10px;
  font-weight: 900;
  font-size: 24px;
}
.carousel__article button {
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  padding: 20px 35px;
  border: 1px solid transparent;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  background-size: 200%;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.5s;
  margin-top: 20px;
}
.carousel__article button:hover {
  background-position: right center;
}
/* end carousel */

/* start service */
.service {
  background: url(../img/bg16.png);
  background-position: top center;
  background-size: cover;
}
.service__title {
  text-align: center;
}
.service__title p {
  font-size: 22px;
  font-weight: 600;
  color: #f55f8d;
  margin-bottom: 20px;
}
.service__title h2 {
  font-size: 70px;
  font-weight: 800;
  color: #262626;
  line-height: 1.1;
  margin-bottom: 20px;
}
.service__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}
.service__item {
  padding: 30px 45px;
  background: #fff;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  border-radius: 15px;
  text-align: center;
  transform: translateY(0px);
  transition: all 0.3s;
}
.service__item:hover {
  transform: translateY(-20px);
}
.service__item img {
  width: 215px;
}
.service__item h2 {
  font-size: 25px;
  font-weight: 700;
  color: #262626;
  margin: 15px 0;
}
.service__item p {
  font-size: 16px;
  font-weight: 400;
  color: gray;
  line-height: 1.5;
}
/* end service */

/* start about us */
.about__us {
  padding-top: 115px;
  padding-bottom: 80px;
  background: url(../img/bg15.png);
  background-position: right center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.about__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.about__left {
  width: 50%;
  flex-shrink: 0;
}
.about__right {
  flex-grow: 1;
}
.about__img {
  position: absolute;
  width: 60%;
  left: -17%;
  top: 10%;
}
.about__img img {
  width: 100%;
  border-radius: 0px 100px 100px 0px;
}
.about__title {
  width: 100%;
}
.about__title h3 {
  font-size: 22px;
  font-weight: 600;
  color: #f55f8d;
  margin-bottom: 15px;
}
.about__title h2 {
  font-size: 70px;
  font-weight: 800;
  color: #262626;
  line-height: 1.1;
  margin-bottom: 20px;
}
.about__title p {
  margin-bottom: 15px;
  color: rgb(98, 98, 98);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}
.about__title ul {
  margin-bottom: 30px;
}
.about__title li {
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  color: rgb(98, 98, 98);
}
.about__title i {
  color: #f55f8d;
  font-size: 24px;
  vertical-align: middle;
  margin-right: 10px;
}
.about__title button {
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 400;
  color: white;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border-radius: 30px;
  cursor: pointer;
  border: transparent;
  transition: all 0.5s;
}
.about__title button:hover {
  background-position: right center;
}
/* end about us */

/* start number */
.number {
  background: url(../img/bg14.png);
  background-position: center;
  padding-top: 80px;
  padding-bottom: 50px;
}
.number__row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.number__item {
  text-align: center;
}
.number__item i {
  display: inline-block;
  font-size: 40px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  margin-bottom: 15px;
  border-radius: 50%;
  color: #fff;
}
.number__item .number__title {
  font-size: 65px;
  font-weight: 800;
  color: #f55f8d;
}
.number__item p {
  font-size: 18px;
  color: #262626;
}
/* end number */

/* start feature */
.feature {
  padding: 90px;
}
.feature__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* left */
.feature__left {
  width: 50%;
  flex-shrink: 0;
}
.feature__left .left__title p {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #f55f8d;
}
.feature__left .left__title h2 {
  font-size: 70px;
  font-weight: 800;
  margin-bottom: 20px;
  color: #262626;
  line-height: 1.1;
}
.left__content .content__item {
  padding: 0 50px 30px 0;
}
.left__content .content__item.content-2 {
  padding: 0 0 30px 50px;
}
.left__content .content__item .item {
  display: flex;
  padding: 30px;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
  position: relative;
  border-radius: 20px;
}

.left__content .content__item .item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  top: 0;
  left: 0;
  opacity: 0;
  border-radius: 20px;
  transition: 1s;
}
.left__content .content__item .item:hover::after {
  opacity: 1;
}
.left__content .content__item .item:hover * {
  color: white;
}
.left__content .content__item .item i {
  font-size: 80px;
  color: #f55f8d;
  line-height: 1;
  margin-right: 20px;
  z-index: 1;
  transition: 1s;
}
.left__content .content__item .item div {
  z-index: 1;
  transition: 1s;
}
.left__content .content__item .item h2 {
  font-size: 1.5rem;
  font-weight: 800;
  color: #262626;
}
.left__content .content__item .item p {
  font-size: 400;
  font-size: 16px;
  margin-top: 10px;
  line-height: 1.5;
  color: rgb(98, 98, 98);
}
/* right */
.feature__right {
  flex-grow: 1;
}
.feature__right .right__img {
  margin-right: -80px;
}
.feature__right .right__img img {
  max-width: 100%;
  animation-name: rotate_img;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

/* animation */

@keyframes rotate_img {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }
  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }
  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}
/* end feature */

/* start portfolio */
.portfolio {
  background-image: url(../img/bg17.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
  padding-top: 115px;
}
.portfolio__title p {
  font-size: 22px;
  font-weight: 600;
  color: #f55f8d;
  margin-bottom: 20px;
}
.portfolio__title h2 {
  font-size: 70px;
  font-weight: 800;
  color: #262626;
  line-height: 1.1;
  margin-bottom: 20px;
}
.portfolio__content .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 35px;
  width: 100%;
}
.portfolio__item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.portfolio__item::before {
  content: "";
  display: block;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: -100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}
.portfolio__item img {
  width: 100%;
  height: 100%;
}
.portfolio__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 0.7s;
}
.portfolio__item:hover .portfolio__overlay {
  opacity: 1;
}
.portfolio__item:hover::before {
  left: 125%;
}
.portfolio__item:hover .portfolio__overlay .overlay__search {
  transform: translate(0px, 0px);
}
.portfolio__item:hover .portfolio__overlay .overlay__title {
  transform: translateY(0px);
}
.portfolio__overlay .overlay__search {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 50px;
  border-radius: 10px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  transform: translateX(20px) translateY(-20px);
  transition: all 0.7s;
}
.portfolio__overlay .overlay__search a {
  text-decoration: none;
  color: white;
}
.portfolio__overlay .overlay__title {
  position: absolute;
  bottom: 30px;
  left: 30px;
  text-align: left;
  transform: translateY(150px);
  transition: all 0.7s;
}
.portfolio__overlay .overlay__title h2 {
  color: #fff;
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 10px;
}
.portfolio__overlay .overlay__title p {
  color: #fff;
  opacity: 0.7;
}
/* start adjust item */

.portfolio__item.item-1 {
  grid-column: 1/3;
  grid-row: 1/3;
}
.portfolio__item.item-2 {
  grid-row: 1/3;
}
.portfolio__item.item-5 {
  grid-column: 1/3;
}
.portfolio__item.item-6 {
  grid-column: 3/4;
  grid-row: 3/5;
}
/* end adjust item */

/* end portfolio */

/* start plan */
.plan {
  text-align: center;
  padding-top: 115px;
  background-image: url(../img/bg16.png);
  background-position: center;
  background-size: cover;
}

.plan__title p {
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: 600;
  color: #f55f8d;
}
.plan__title h2 {
  font-size: 70px;
  margin-bottom: 20px;
  font-weight: 800;
  color: #262626;
  line-height: 1.1;
}
.plan__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
  text-align: center;
}
.plan__item {
  padding: 35px 60px;
  border: 3px solid transparent;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 1px 0 50px rgb(0 0 0 / 10%);
  border-image: 100 round;
  transition: all 0.5s;
}
.plan__item:hover {
  border-image: url(../img/br.png) 1 round;
}
.plan__item h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #262626;
}
.plan__item img {
  width: 125px;
}
.plan__item span {
  font-size: 50px;
  font-weight: 800;
  color: #f8ae56;
}
.plan__item p {
  font-size: 18px;
  color: #262626;
  font-weight: 600;
}
.plan__item nav {
  border-top: 1px solid #e1e1f0;
  padding: 15px 0;
  text-align: left;
}
.plan__item li {
  list-style-type: none;
  padding: 5px 0;
}
.plan__item i {
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  font-size: 12px;
  background-color: #feeff3;
  color: #f55f8d;
  border-radius: 50%;
  margin-right: 15px;
}
.plan__item button {
  padding: 20px 35px;
  font-size: 15px;
  font-weight: 500;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  border: transparent;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  line-height: 1.2;
  transition: all 0.5s;
}
.plan__item button:hover {
  background-position: right center;
}
/* end plan */

/* start testimonial */
.testimonial {
  text-align: center;
  padding-top: 115px;
  background: url(../img/bg17.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.testimonial__title p {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #f55f8d;
}
.testimonial__title h2 {
  font-size: 70px;
  font-weight: 800;
  color: #000;
  margin-bottom: 20px;
  line-height: 1.1;
}
/* start swiper */
.testimonial-content {
  max-width: 1199px;
  margin: auto;
  text-align: center;
}

.testimonial-thumbs .testimonial-pic img {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  padding: 4px;
  position: relative;
  z-index: 2;
  background-color: #f55f8d;
}

.testimonial-thumbs {
  width: 300px;
  margin: auto;
  box-sizing: border-box;
  height: 170px;
  position: relative;
  overflow: hidden;
}
.testimonial-comment {
  min-height: 300px;
  width: 100%;
}
.testimonial-comment .swiper-wrapper {
  padding-bottom: 20px;
}
.testimonial-thumbs .testimonial-pic {
  padding: 30px 0 0;
  transition: all 0.5s;
}
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
  padding: 0 0 40px;
}
.testimonial-thumbs .testimonial-pic::before {
  content: "";
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  background-color: #f55f8d;
  border-radius: 50%;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
.testimonial-thumbs .testimonial-pic::after {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  background-color: #f55f8d;
  border-radius: 50%;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
}
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic::before {
  opacity: 1;
}
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic::after {
  opacity: 1;
}
.testimonial-thumbs .testimonial-pic .shape-bx {
  position: relative;
  background-color: #f55f8d;
  width: 50px;
  height: 35px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 18px;
  opacity: 0;
  transition: all 1s;
}
.testimonial-thumbs .testimonial-pic .shape-bx::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../img/pattern12.png);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  transition: all 1s;
}
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic .shape-bx {
  opacity: 1;
}
.testimonial-text {
  padding: 30px;
  text-align: center;
  box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
  margin: 20px 100px;
  border-radius: 10px;
  background-color: #fff;
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
}
.testimonial-thumbs::before {
  content: "";
  height: 100%;
  width: 30px;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #fff 0, rgba(255, 255, 255, 0) 100%);
}
.testimonial-thumbs::after {
  content: "";
  height: 100%;
  width: 30px;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  background: linear-gradient(to left, #fff 0, rgba(255, 255, 255, 0) 100%);
}
.swiper-pagination-bullets.swiper-pagination-horizontal,
.testimonial .swiper-horizontal > .swiper-pagination-bullets {
  bottom: auto;
}
.swiper-pagination-bullet-active {
  background-color: #f55f8d;
}
/* end swiper */
/* start comment */
.testimonial-comment {
  overflow: hidden;
}
.testimonial-text {
  padding: 30px;
  max-width: 770px;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 10px 20px 0 rgb(0 0 0 / 10%);
  border-radius: 10px;
  background-color: #fff;
  position: relative;
}
.testimonial-text i {
  font-size: 70px;
  color: #f55f8d;
  position: absolute;
  top: 10px;
  left: 30px;
  transform: rotate(180deg);
}
.testimonial-name {
  font-size: 22px;
  font-weight: 800;
  color: #000;
  line-height: 26px;
  margin-bottom: 5px;
}
.testimonial-text p {
  font-size: 18px;
  font-weight: 400;
  color: #636363;
  padding: 0 15px 15px;
  font-style: italic;
  line-height: 1.5;
}
.testimonial-text .testimonial-position {
  font-size: 18px;
  font-weight: 400;
  color: #f55f8d;
  margin-bottom: 20px;
  font-style: italic;
}
/* end comment */
/* end testimonial */

/* start news__blog */
.news__blog {
  padding-top: 115px;
  padding-bottom: 50px;
  background-image: url(../img/bg16.png);
  background-size: cover;
  background-position: top center;
  text-align: center;
}
.news__blog .title p {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #f55f8d;
}
.news__blog .title h2 {
  font-size: 70px;
  font-weight: 800;
  line-height: 1.1;
  color: #262626;
  margin-bottom: 20px;
}
.blog__item {
  text-align: center;
  background: rgba(245, 95, 141, 0.1);
  border-radius: 8px;
}

.blog__header {
  position: relative;
}
.blog__header img {
  width: 100%;
  display: block;
}
.blog__header p {
  position: absolute;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  font-size: 14px;
  color: #fff;
  padding: 10px 20px;
  bottom: -20px;
  left: 15px;
  border-radius: 6px;
}
.blog__body {
  padding: 30px 15px 20px 15px;
  line-height: 1.4;
  margin-top: 20px;
}
.blog__body h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #262626;
}
.blog__body p {
  color: #636363;
  font-weight: 400;
}

.blog__footer {
  display: flex;
  align-items: center;
  padding: 15px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.blog__footer p {
  color: #636363;
}
.blog__footer p#first {
  margin-right: 20px;
}

.blog__footer i {
  font-size: 22px;
  color: #f55f8d;
  vertical-align: sub;
}
.blog__footer p#first span {
  color: #f55f8d;
}

.owl-theme .owl-nav {
  display: none;
}
.owl-theme .owl-dots {
  display: none;
}
/* end news__blog */

/* start footer */
footer {
  background-image: url(../img/bg4.png);
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e1b1f;
  background-size: contain;
  color: #fff;
  font-size: 15px;
  position: relative;
}
footer::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url(../img/pattern2.png);
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* footer__top */
.footer__top {
  display: flex;
  padding: 50px 60px;
  background-color: #fff;
  border-radius: 10px;
  background-image: url(../img/pattern3.png);
  background-position: bottom;
  background-size: 100%;
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
  position: relative;
}
.footer__top .footer__text {
  width: 50%;
}
.footer__top .footer__text h2 {
  font-size: 26px;
  color: #262626;
}
.footer__top .footer__content {
  width: 50%;
}
.footer__top .footer__content form {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}
.footer__top .footer__content input {
  padding: 20px 20px;
  font-size: 15px;
  font-weight: 400;
  color: #888;
  background: #fff;
  border-radius: 0.5rem 0 0 0.5rem;
  border: 1px solid #fff;
  outline: 0;
  flex: 1 1 auto;
  transition: all 0.5s;
}
.footer__top .footer__content input:hover {
  border-color: #f55f8d;
}
.footer__top .footer__content button {
  padding: 20px 35px;
  font-size: 20px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-color: transparent;
  border-radius: 0 0.5rem 0.5rem 0;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}
.footer__top .footer__content button:hover {
  background-position: right center;
}
.footer__top .footer__content i {
  font-weight: 900;
}
.footer__top .footer__content button:hover i {
  animation: toLeftFromRight 0.5s forwards;
}
@keyframes toLeftFromRight {
  49% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(-100%);
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
}

/* footer__botom */
.footer__bottom {
  display: flex;
  padding: 70px 0;
  position: relative;
}
.footer__bottom .footer__item {
  width: 25%;
}
.footer__bottom .footer__item h3 {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 10px;
  margin-bottom: 30px;
  position: relative;
  color: #fff;
}
.footer__bottom .footer__item h3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  width: 15px;
}
.footer__bottom .footer__item h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  height: 4px;
  border-radius: 20px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  background-size: 200%;
  width: 45px;
}
.footer__bottom .footer__item li {
  padding: 0.5rem 0;
  list-style-type: none;
}
.footer__bottom .footer__item i {
  margin-right: 10px;
  font-weight: 700;
}
.footer__bottom .footer__item a {
  color: #636363;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.5s;
}
.footer__bottom .footer__item a:hover {
  color: #fff;
}

/* footer__item first */
.footer__bottom .footer__contact li {
  display: flex;
  align-items: center;
}
.footer__bottom .footer__contact i {
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: block;
  text-align: center;
  line-height: 40px;
}
/* footer__copyright */
.footer__copyright {
  position: relative;
  padding: 10px 0;
  background-color: #1f343b;
}
.copyright__content {
  display: flex;
  justify-content: space-between;
}
.footer__copyright .footer__left span {
  color: #f55f8d;
}
.footer__copyright .footer__right a {
  text-decoration: none;
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  font-size: 14px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.5s;
}
.footer__copyright .footer__right a:hover {
  background-color: #f55f8d;
}
/* end footer */

/* back to top */

.back_to_top {
  width: 50px;
  height: 50px;
  background: #f55f8d;
  color: #fff;
  border-radius: 8px;
  display: block;
  text-align: center;
  line-height: 50px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}
.cd-top--fade-out {
  opacity: 0.5;
}
